.header {
  border-bottom: 1px solid $line-color;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  &--black {
    color: $main-dark-color;
  }
}
