.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  max-width: 1600px;
  background-image: linear-gradient($gradient-color, $gradient-color), url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $primary-bg-color;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: $main-light-color;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  width: 216px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
