.signup {
  margin-left: auto;
}

.signup-form {
  display: flex;
  gap: 10px;
}

.signup-form__button {
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 10px;
  align-items: center;

  box-shadow: 0px 4px 4px $filter-color;
}

.signup-form__icon {
  margin-left: 10px;
  fill: currentColor;
}

.signup-form__input {
  padding: 14px 16px;
  width: 358px;
  outline: none;
  background-color: transparent;
  border: 1px solid $singup-border-color;
  filter: drop-shadow(0px 4px 4px $filter-color);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: $thirdy-text-color;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $accent-color;
  }
}

.signup-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: $thirdy-text-color;
}
