$main-light-color: #ffffff;
$main-dark-color: #000000;
$secondary-bg-color: #f5f4fa;
$accent-color: #2196f3;
$primary-bg-color: #2f303a;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$thirdy-text-color: rgba(255, 255, 255, 0.6);
$shadow-btn-color: #188ce8;
$line-color: #ececec;
$main-border-color: #eeeeee;
$gradient-color: rgba(47, 48, 58, 0.4);
$main-icon-color: #afb1b8;
$main-icon-bg-color: rgba(255, 255, 255, 0.1);
$box-bg-color: rgba(47, 48, 58, 0.8);
$main-action-color: rgba(33, 150, 243, 0.9);
$backdrop-color: rgba(0, 0, 0, 0.2);
$btn-close-border-color: rgba(0, 0, 0, 0.1);
$modal-border-color: rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);
$singup-border-color: rgba(255, 255, 255, 0.3);
$filter-color: rgba(0, 0, 0, 0.15);
$main-shadow-color: rgba(0, 0, 0, 0.12);
